.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
url_shortener/__pycache__/
url_shortener/db.sqlite3
Pipfile
Pipfile.lock

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover